.saperator{
    height: 2px;
    width: 90%;
    background-color: #ccc;
}
.color{
    height:20px;
    width:20px;
    background-color: red;
    display: inline-block;
    border-radius: 30px;
    margin: 5px;
}
.red{
    background-color: red;
}
.black{
    background-color: black;
}
.white{
    background-color: white;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: red;
}
.blue{
    background-color: blue;
}
.borwn{
    background-color: brown;
}